body{
    background-color: rgb(207, 207, 236);
}
.container{
    padding-left: 250px;
    background-color: rgb(223, 223, 247);
    padding-top: 200px;
    padding-bottom: 200px;

body{
    background-color: rgb(207, 207, 236);
}
.container{
    padding-left: 250px;
    background-color: rgb(223, 223, 247);
    padding-top: 200px;
    padding-bottom: 200px;


}